

#loading {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 210vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
}
